#gamesboard-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.game-board {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.block {
  width: 20px;
  height: 20px;
}
.option-container {
  width: 500px;
  height: 50px;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.destroyer {
  background-color: brown;
}
.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
}
.submarine {
  background-color: green;
}
.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}
.cruiser {
  background-color: violet;
}
.cruiser-preview {
  width: 40px;
  height: 10px;
  margin: 3px;
}
.battleship {
  background-color: chocolate;
}
.battleship-preview {
  width: 50px;
  height: 10px;
  margin: 3px;
}
.carrier {
  background-color: crimson;
}
.carrier-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
}
.hover {
  background-color: gray;
}
.boom {
  background-color: red;
}
.empty {
  background-color: grey;
}
